// @keyframes {
//     from {

//     }
// }

.buff {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 2rem 8rem;
}

.buff__timer {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    stroke: red;
    stroke-dashoffset: 50%;
}

.buff__author {
    padding: 1rem;
    background: rgba(255,255,255,0.8);
    color: #333;
    margin-bottom: 1rem;
}

.buff__question-container {
    color: #fff;
    background: rgba(0,0,0,0.8);
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}


.buff__timer {
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
}

.buff__answers {
    margin: 0;
    padding: 0;
    list-style: none;
}

.buff__answer {
    margin-bottom: 1rem;
}

.buff__answer button {
    background: rgba(255,255,255,0.8);
    color: #333;
    padding: 1rem;
    min-width: 20rem;
    border: none;
    text-align: left;
    cursor: pointer;
}

.buff__answer[data-correct-answer='true'] button {
    background: rgba(0,128,0,0.8);
}

.buff__answer[data-correct-answer='false'][data-selected-answer='true'] button {
    background: rgba(128,0,0,0.8);
}

.buff__close {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    background: rgba(0,0,0,0.8);
    color: #fff;
    font-size: 3rem;
    border: none;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}