*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    margin: 0 0 2.4rem;

    &:last-child {
        margin: 0;
    }
}



.video-container {
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
    position: relative;

    &::before {
        content: '';
        display: block;
        padding-bottom: 56.25%;
    }

    video {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.video-buff {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}